

.container {
    overflow: auto;
    background-color: white;
    padding: 25px;
    font-family: auto;
    display: flex;
    justify-content: center
}

.box {
    width: 45%;
    box-shadow: 0px 1px 10px -1px #00000042;
    border-radius: 2px;
    padding: 15px;
}

.box .title, .text {
    text-align: center;
    color: #555555;
}

.box .text {
    font-size: 16px;
}

.box hr {
    width: 85%;
    border-width: 0.1px;
    border-color: #cbbfbf2b;
}

.box fieldset {
    box-shadow: none;
    border: none;
    display: flex;
    /* flex-direction: column; */
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.box fieldset label {
    font-size: 16px;
    font-weight: bold;
    color: #777777
}

.box fieldset label span {
    color: red;
}

.box input {
    border-radius: 1px;
    height: 36px;
    background-color: white;
    border: 2px solid #878787;
    width: 36px;
    margin-left: 16px;
    text-align: center;
    font-weight: bold;
}

.box .submitBtn {
    display: flex;
    justify-content: center;
}

.box button {
    background-color: #EA9600;
    border: 1px solid white;
    color: white;
    height: 45px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}